@model NoidaAuthority.PMS.Web.Models.PropertyDetail
@{
    ViewBag.Title = "Vacant Properties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vacant Properties</h2>

<h4>No Vacant Properties</h4>