<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    
    <!--<add name="PIMSContext" connectionString="metadata=res://*/PIMS.PIMS.csdl|res://*/PIMS.PIMS.ssdl|res://*/PIMS.PIMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.172.156.142;initial catalog=NoidaMigrationUat;user id=NoidaPms;password=Usear#321;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PIMSDbContext" connectionString="metadata=res://*/PIMS.PIMS.csdl|res://*/PIMS.PIMS.ssdl|res://*/PIMS.PIMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.172.156.142;initial catalog=NoidaMigrationUat;user id=NoidaPms;password=Usear#321;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/PIMS.PIMS.csdl|res://*/PIMS.PIMS.ssdl|res://*/PIMS.PIMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.11;initial catalog=NoidaMigrationUat;user id=NoidaPms;password=Usear#321;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  <add name="PIMSEntitiesContext" connectionString="metadata=res://*/PIMS.PIMS.csdl|res://*/PIMS.PIMS.ssdl|res://*/PIMS.PIMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.172.190.14;initial catalog=NoidaMigrationUat;persist security info=True;user id=NoidaPms;password=Usear#321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>